
/*
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.container-child {
    width: 30%;
    height: 600px;
    border: 5px solid #000000;
    height: 300px;
    width: 500px;
}

.operations {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    line-height: 60px;
    margin-left: 20px;
    height: 220px;
}



.operations-child {
    text-align: center;
    height: 60px;
    width: 60%;

}


.seb7a{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.seb7a-child {
    border: 5px solid #666363;
    width: 60%;
    height: 70px;
}

.zekr {
    text-align: center;
    line-height: 70px;
}

.seb7a-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-around;
}

.counter {
    border: 5px solid #596fee;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.click{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    border: 0
}

.reset {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 20px;
    border: 0;
    

}



*/

* {
    font-family: 'DroidArabicKufiRegular';
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: rtl;
    margin-top: 40px;
    align-items: center;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #9d9493; 
    height: 190px !important;
    border: 10px double #5F5C5C;
}


.operations-child {
    width: 50%;
}

.seb7a {
    border: 3px solid #9d9493; 
    height: 400px !important;
    border: 10px double #5F5C5C;

    
}

.my-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.container-child {
    width: 30%;
    height: 600px;
    height: 300px;
    width: 500px;
}

.my-counter {
    min-width: 70px;
    width: auto;
    min-height: 70px;

    border-radius: 50%;
    background: #333030;
    text-align: center;
    line-height: 70px;
    margin-bottom: 30px;
    color: #FFF;
    font-size: 24px;
    border: 3px dashed aliceblue;
}


.my-name {
    width: auto;
    height: auto;
    padding: 10px;
    background: #2E2C2C;
    border: 3px solid #EEE;
    color: #F4EFEF;
}

.click-plus-reset2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn-group {
    margin-top: 20px;
    
}

.btn-group button {
    margin-left: 5px;
}

.click-here {
    background: #2E2C2C;
    border: 3px solid #EEE;
    color: #F4EFEF;
    padding: .375rem .75rem;;
}


.edit-btn-custom-design{
    height: 47px;
    background: #4E4A4A;
    border: 2px dotted aliceblue;
    color: #FFF;

}


.add-btn-custom-design {
    height: 47px;
    background: #4E4A4A;
    border: 2px dotted aliceblue;
    color: #FFF;  

}
