<div>
<div class="container">


    <div class="container-child operations">
        <div class="operations-child">اختيار الذكر</div>
        <div class="operations-child">إضافة دعاء</div>
        <div class="operations-child">تعديل أو حذف دعاء</div>
    </div>

    <div class="container-child seb7a">
        <div class="zekr seb7a-child">
            سبحان الله
        </div>

        <div class="seb7a-second seb7a-child">
            <div class="counter">2000</div>

            <div class="click"></div>    
            <div class="reset">reset</div>
                
        </div>
    </div>

</div>
</div>